(1) Bu ödevde, modelinizi kullanarak Titanic faciasında hayatta kalma durumunu tahmin edeceksiniz. Bu ödevi tamamlamak için, aşağıdaki görevlerin çözümlerini içeren bir Jupyter not defterini link olarak gönderin. Kafanıza takılan konuları mentörünüzle konuşabilir ya da ofis saatinde Slack üzerinden sorabilirsiniz.

    Titanic verilerini Kaggle'dan indirin. Buradaki train.csv dosyasındaki veriler ihtiyacınızı görecektir.
    Verilerinizi eğitim ve test kümelerine ayırın.
    Modelinizi oluşturarak ayırdığınız test kümesindeki verilere göre hayatta kalma durumlarını tahmin edin
    Modelinizin performansı tatmin edici mi? Açıklayın.
    Bazı değişkenleri ekleyerek veya çıkararak modelinizi tahmin performansı açısından geliştirmeye çalışın.

In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale, PolynomialFeatures
import warnings; warnings.filterwarnings("ignore")

In [159]:
train_data = pd.read_csv("traintitanic.csv")
train_data.isnull().sum()*100/train_data.shape[0]

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [160]:
train_data["Age"].fillna(train_data["Age"].mean(), inplace=True)
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [161]:
train_data = pd.get_dummies(train_data, columns = ['Sex','Embarked',"Pclass"],drop_first=True)

In [162]:
y = train_data["Survived"]
X = train_data.drop(columns = ["PassengerId","Survived","Name","Ticket","Cabin"])

In [163]:
log_reg = LogisticRegression()

In [164]:
X_eğitim, X_test, y_eğitim, y_test =  train_test_split(X, y, test_size=0.33, random_state=111)

In [165]:
log_reg_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
log_reg_mnm.fit(X_eğitim, y_eğitim)
egitim_dogruluk = log_reg_mnm.score(X_eğitim, y_eğitim)
test_dogruluk = log_reg_mnm.score(X_test, y_test)
print('Multinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egitim_dogruluk), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk), sep='\n')

Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.80
Modelin test verisindeki doğruluğu   : 0.80

In [166]:
log_reg_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
log_reg_mnm.fit(X_eğitim, y_eğitim)
egitim_dogruluk = log_reg_mnm.score(X_eğitim, y_eğitim)
test_dogruluk = log_reg_mnm.score(X_test, y_test)
print('Multinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egitim_dogruluk), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk), sep='\n')

Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.80
Modelin test verisindeki doğruluğu   : 0.80

In [167]:
C_değerleri = [0.001,0.01,0.1,1,10,100, 1000]
dogruluk_df = pd.DataFrame(columns = ['C_Değeri','Doğruluk'])

dogruluk_değerleri = pd.DataFrame(columns=['C Değeri', 'Eğitim Doğruluğu', 'Test Doğruluğu'])

for c in C_değerleri:
    
    # Apply logistic regression model to training data
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0)
    lr.fit(X_eğitim,y_eğitim)
    dogruluk_değerleri = dogruluk_değerleri.append({'C Değeri': c,
                                                    'Eğitim Doğruluğu' : lr.score(X_eğitim, y_eğitim),
                                                    'Test Doğruluğu': lr.score(X_test, y_test)
                                                    }, ignore_index=True)
display(dogruluk_değerleri)

   C Değeri  Eğitim Doğruluğu  Test Doğruluğu
0     0.001          0.687919        0.661017
1     0.010          0.741611        0.725424
2     0.100          0.810403        0.786441
3     1.000          0.802013        0.800000
4    10.000          0.808725        0.796610
5   100.000          0.807047        0.796610
6  1000.000          0.802013        0.796610

In [168]:
poly_model = PolynomialFeatures(degree=3, interaction_only=True, order="C")
X_train_poly = poly_model.fit_transform(X_train)

In [169]:
log_reg.fit(X_train_poly, Y_train)
print("3. derece polinom etkileşimi ile denen modelin performansı: {:.4f}".format(log_reg.score(X_train_poly, Y_train)))

3. derece polinom etkileşimi ile denen modelin performansı: 0.8329

## Avantaj
Lojistik Regresyon, en basit makine öğrenimi algoritmalarından biridir ve uygulaması kolaydır, ancak bazı durumlarda büyük eğitim verimliliği sağlar. Ayrıca bu nedenlerden dolayı, bu algoritma ile bir modelin eğitilmesi yüksek hesaplama gücü gerektirmez.

Tahmin edilen parametreler (eğitilmiş ağırlıklar), her bir özelliğin önemi hakkında çıkarımlar sağlar. İlişkilendirme yönü, yani pozitif veya negatif de verilir. Böylece, özellikler arasındaki ilişkiyi bulmak için lojistik regresyon kullanabiliriz.

Bu algoritma, karar ağaçlarından veya destek vektör makinelerinden farklı olarak modellerin yeni verileri yansıtacak şekilde kolayca güncellenmesine olanak tanır. Güncelleme, stokastik gradyan inişi kullanılarak yapılabilir.

Lojistik Regresyon, sınıflandırma sonuçlarıyla birlikte iyi kalibre edilmiş olasılıklar üretir. Bu, yalnızca nihai sınıflandırmayı sonuç olarak veren modellere göre bir avantajdır. Bir eğitim örneğinin bir sınıf için% 95 olasılığı ve diğerinin aynı sınıf için% 55 olasılığı varsa, formüle edilmiş problem için hangi eğitim örneklerinin daha doğru olduğuna dair bir çıkarım elde ederiz.

Yeterli sayıda eğitim örneğine sahip düşük boyutlu bir veri setinde, lojistik regresyon aşırı uyuma daha az eğilimlidir.

Karmaşık bir modelle hemen başlamak yerine, lojistik regresyon bazen performansı ölçmek için bir kıyaslama modeli olarak kullanılır, çünkü nispeten hızlı ve uygulaması kolaydır.

Lojistik Regresyon, veri kümesi doğrusal olarak ayrılabilen özelliklere sahip olduğunda çok verimli olduğunu kanıtlar.

## Dezavantaj

Lojistik Regresyon, bağımsız özelliklere dayalı kesin olasılıklı sonuçları tahmin etmeye çalışan istatistiksel bir analiz modelidir. Yüksek boyutlu veri kümelerinde bu, modelin eğitim setine aşırı uymasına neden olabilir, bu da eğitim setindeki tahminlerin doğruluğunun abartılması anlamına gelir ve bu nedenle model, test setinde doğru sonuçları tahmin edemeyebilir.

Doğrusal olmayan problemler, doğrusal bir karar yüzeyine sahip olduğu için lojistik regresyon ile çözülemez. Doğrusal olarak ayrılabilir veriler, gerçek dünya senaryolarında nadiren bulunur. Dolayısıyla, verilerin daha yüksek boyutlarda doğrusal olarak ayrılabilir hale gelmesi için özelliklerin sayısı artırılarak yapılabilen doğrusal olmayan özelliklerin dönüşümü gereklidir.